body{
    text-align: center;
    align-items: center;
    background-color: gainsboro;
}
.section_mensages{
    margin: 0 auto;
    max-width: 400px;
    padding: 40px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gray;
    border: 3px solid black ;
}
.section_mensages div{
    color: white;
    display: flex;
    flex-flow: row;
    margin: 10px;
    background-color: slategrey;
    border: 3px solid black ;
    border-radius: 10px;
}
.apagar{
    text-decoration: none;
    color: brown;
}
.edita{
    text-decoration: none;
    color: blue;
}
.box_escreve{
    margin: 0 auto;
    max-width: 400px;
    padding: 40px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: slategrey;
    align-items: center;
    border: 3px solid black ;
}